<section class="snap-start w-full h-screen relative flex flex-col items-center">
  <div class="text-textMain text-6xl font-bold my-12 justify-start">Projects</div>
  <div class="grid grid-cols-5 grid-rows-5 gap-4 size-[800px]">
    <div *ngFor="let item of sizes" 
         class="bg-background-300 size-full" 
         [ngClass]="[ 'col-span-' + item[0],
                      'row-span-' + item[1]]">
      {{item[0] + " " + item[1]}}
    </div>

    <!-- <div class="bg-background-300 size-full col-span-2 row-span-4" >2x2</div> -->



  </div>
</section>