<section class="snap-start w-full h-screen relative flex flex-col items-center">
  <div class="text-textMain text-6xl font-bold my-12 justify-start">Projects</div>
  <div class="grid grid-cols-5 grid-rows-5 gap-4 size-[800px]">
    <div *ngFor="let item of sizes" 
         class="bg-background-300 size-full" 
         [ngClass]="[ 'col-span-' + item[0],
                      'row-span-' + item[1]]">
      {{item[0] + " " + item[1]}}
    </div>

    <!-- <div class="bg-background-300 size-full col-span-2 row-span-4" >2x2</div> -->
    


  </div>

  <dialog *ngIf="selectedProject" 
          class="modal w-[90%] h-[80%] flex flex-col">

    <div class="grid grid-cols-1 md:grid-cols-[60%,40%] h-full items-start md:items-center">
      <div class="bg-slate-400 aspect-video hidden md:block">image</div>
      <div class="grid grid-cols-1 gap-y-5 justify-items-center px-5">

        <div class="text-4xl my-5">
          Project name
        </div>
        <div class="md:hidden bg-slate-400 aspect-video size-full">image</div>
        <div class="flex flex-wrap gap-3 justify-center">
          <div class="bg-secondary rounded-full px-4 py-1" *ngFor="let skill of skills">{{skill}}</div>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque ab, reprehenderit assumenda placeat odio numquam ducimus fugiat fuga ea vitae labore delectus dolore. Dolorem nesciunt vitae ad asperiores aspernatur nihil.
          <br><br>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus nemo laboriosam nulla consequatur eaque at sit amet, ea nam ipsa deleniti necessitatibus vitae voluptas nobis provident quis maiores quo sint?
        </p>
        
        <div class="grid grid-cols-2 gap-3 justify-around w-full">
          <button class="bg-primary rounded-[15px] text-2xl px-8 py-4">GitHub</button>
          <button class="bg-secondary rounded-[15px] text-2xl px-8 py-4">Website</button>
        </div>
      </div>
    </div>

  </dialog>

</section>