/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

@layer base { 
    :root {                    /*White theme */
        --primary: #7d55ff;
        --secondary: #68C49B;
        --accent: #32FB32;
        --background: #e3e8ff;

        --textMain: #141414;
        --textContrast: #F5F5F5;
    }

    :root.darkTheme{            /*Dark theme */
        --primary: #6E8AFC;
        --secondary: #68C49B;
        --accent: #32FB32;
        --background: #03081E;

        --textMain: #F5F5F5;
        --textContrast: #141414;
    }

}

/* * { outline: 1px solid red; } */

.glass{
    @apply rounded-[16px] bg-clip-padding backdrop-blur-md border 
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;   
  }
  
  body {
    overflow-y: scroll;       
  }

  .animated {
    opacity: var(--global-opacity,0);
  }

  

  .fade-in-top {animation: fade-in-top var(--global-duration ,var(--fade-in-duration, 2s)) linear var(--global-delay ,var(--fade-in-delay, 0s)) both; }
  .fade-in-bottom {animation: fade-in-bottom var(--global-duration ,var(--fade-in-duration, 2s)) linear var(--global-delay ,var(--fade-in-delay, 0s)) both;}
  .fade-in-left {animation: fade-in-left var(--global-duration ,var(--fade-in-duration, 2s)) linear var(--global-delay ,var(--fade-in-delay, 0s)) both; }
  .fade-in-right {animation: fade-in-right var(--global-duration ,var(--fade-in-duration, 2s)) linear var(--global-delay ,var(--fade-in-delay, 0s)) both; }


  @keyframes fade-in-top{0%{transform:translateY(-50px);opacity:0}100%{transform:translateY(0);opacity:1}}
  @keyframes fade-in-bottom{0%{transform:translateY(50px);opacity:0}100%{transform:translateY(0);opacity:1}}
  @keyframes fade-in-left{0%{transform:translateX(-50px);opacity:0}100%{transform:translateX(0);opacity:1}}
  @keyframes fade-in-right{0%{transform:translateX(50px);opacity:0}100%{transform:translateX(0);opacity:1}}