/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base { 
    :root {                    /*White theme */
        --primary: #7d55ff;
        --secondary: #68C49B;
        --accent: #32FB32;
        --background: #e3e8ff;

        --textMain: #141414;
        --textContrast: #F5F5F5;
    }

    :root.darkTheme{            /*Dark theme */
        --primary: #6E8AFC;
        --secondary: #68C49B;
        --accent: #32FB32;
        --background: #03081E;

        --textMain: #F5F5F5;
        --textContrast: #141414;
    }

}

/* * { outline: 1px solid red; } */

.glass{
    @apply rounded-[16px] bg-clip-padding backdrop-blur-md border border-primary-700
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;   
  }
  
  body {
    overflow-y: scroll;       
  }