<section class="relative">
  <animated-background class="w-full h-[calc(100vh-81px)]"></animated-background>

  <div class="absolute top-20 left-20 size-fit p-5 pr-20 glass text-textMain">
    <h3 class="text-xl mb-4 font-bold">Web developer</h3>
    <h1 class="text-8xl mb-6">Robert Feldmanis</h1>
    <p class="text-xl">
      Developing efficient, scaleable systems with dedicated technology stack
    </p>
    <div class="absolute inset-0 bg-primary opacity-20 rounded-[16px] -z-10"></div>
  </div>

  
</section>